---
import { Image } from 'astro:assets'

import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props
const content = renderRichText(blok.content)
---

<section {...storyblokEditable(blok)}>
  <div>
    <head>
      <p class="subheading">{blok.sub_heading}</p>
      <h3>{blok.heading}</h3>
    </head>
    <Fragment set:html={content} />
  </div>
  <!-- <img src={blok.image.filename} alt={blok.image.alt} /> -->

  <Image inferSize={true} src={blok.image.filename} alt={blok.image.alt} />
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 7fr 1fr 4fr;
    align-items: center;
    margin-top: 120px;
    /* gap: 30px; */
  }
  div {
    background: radial-gradient(
        66.86% 62.92% at 34.61% 46.08%,
        rgba(255, 166, 158, 0.3) 0%,
        rgba(255, 166, 158, 0) 100%
      ),
      radial-gradient(
        235.27% 59.43% at 92.5% 3.53%,
        rgba(32, 87, 224, 0.11) 0%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      #fff;
    padding: 120px 85px 120px 115px;
    grid-area: 1/1/2/3;
  }
  img {
    border-radius: var(--border-rad);
    grid-area: 1/2/2/4;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
</style>
