---
const { menuItems, id: idName, ...rest } = Astro.props
---

<ul id={idName} {...rest}>
  {
    menuItems.map((item) => {
      return (
        <li>
          <a
            href={
              item.link.cached_url === "home" ? "/" : `/${item.link.cached_url}`
            }
          >
            {item.link.story.name}
          </a>
          {item.dropdown_menu && (
            <div class="mobile-submenu">
              <ul>
                {item.dropdown_menu.map((dropdownItem) => {
                  return (
                    <li>
                      <a
                        href={
                          dropdownItem.link.cached_url === "/"
                            ? "/"
                            : `/${dropdownItem.link.cached_url}`
                        }
                      >
                        {dropdownItem.link.story.name}
                      </a>
                    </li>
                  )
                })}
              </ul>
            </div>
          )}
        </li>
      )
    })
  }
</ul>
